@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../../fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Thin';
	src: url('../../fonts/gilroy-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/gilroy-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/gilroy-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/gilroy-thin.svg#gilroy-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  padding: 0;
  // font-family: 'Gilroy-Regular', "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0 60px
}

.slider__one,
.slider__two {
	padding: 0 0 45px 0;
	.slider__one-item,
	.slider__two-item {
		position: relative;
		padding-bottom: 60px;
		display: none;
		transition: 1s all;
		&.active {
			display: block;
			animation-name: anim-slides-in;
			animation-duration: 1s;
		}
	}
}

.slider__wrapper {
	overflow: hidden;
	max-height: 600px;
}

.slider__field {
	display: flex;
	transition: 0.3s all;
}

.slider__one-image,
.slider__two-image {
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	width: 100%;
	cursor: pointer;
}

.slider__item-inner {
	overflow: hidden;
}

.slider__one-info,
.slider__two-info {
	position: absolute;
	margin-top: -4px;
	background-color: #1d9cd8;
	width: 100%;
	padding: 11px 0 11px 60px;
	color: #fff;
	transition: 1s all;
}

.slider__two-info {
	.slider__two-title{
		bottom: 80px;
	}
}

.slider__title {
	position: absolute;
	font-family: 'Gilroy-SemiBold';
	bottom: 75px;
	font-size: 40px;
	color: black;
	span {
		color: #1d9cd8;
	}
}

.slider__one-name,
.slider__two-name {
	letter-spacing: 2px;
	font-family: 'Gilroy-SemiBold';
	font-size: 20px;
	font-weight: 500;
}

.slider__two-name {
	font-weight: 500;
	line-height: 38px;
}

p {
	font-family: 'Gilroy-Regular';
	font-size: 14px;
	letter-spacing: 1px;
}

.slider__two-title {
	position: absolute;
	font-family: 'Gilroy-Regular';
	font-weight: normal;
	bottom: 70px;
	font-size: 60px;
	color: white;
	letter-spacing: 2px;
	span {
		display: block;
		font-family: 'Gilroy-Semibold';
		font-size: 190px;
		letter-spacing: 2px;
		line-height: 185px;
	}
}

.slider__two-item:nth-child(9) {
	.slider__two-info {
		.slider__two-title{
			padding-left: 720px;
		}
	}
}

@keyframes anim-slides-in {
	from{opacity: 0.8;}
	to{opacity: 1;}
}

.slider__one-dots,
.slider__two-dots { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.slider__one-dots-inner{
  display: flex;
  width: 95px;
  justify-content: space-between;
}

.slider__two-dots-inner {
	display: flex;
  width: 360px;
  justify-content: space-between;
}
 
.dot {
  flex: 0 1 auto;
  width: 18px;
  height: 18px;
  background: #1d9cd8;
  border-radius: 50%;
	cursor: pointer;
  transition: .6s ease;
	&.active {
		background-color: black;
	}
}

.list {
	margin-bottom: 180px;
}

.list__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__item {
	letter-spacing: 2px;
	font-family: 'Gilroy-SemiBold';
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 0 16px 0;
	cursor: pointer;
	a {
		color: #1d9cd8;
		transition: 0.3s all;
		&.active {
			color: black;
		}
	}
}

.list__image {
	display: none;
	img {
		width: 600px;
	}
	&.active {
		display: block;
	}
}

.footer__menu {
	display: flex;
	justify-content: space-between;
	padding-bottom: 45px;
	.footer__menu-contact {
		display: flex;
		img {
			padding-right: 20px;
		}
		.footer__phone {
			position: relative;
			.footer__phone-title {
				cursor: pointer;
				padding-bottom: 2px;
				a {
					color: black;
				}
			}
			h3 {
				font-family: 'Gilroy-Regular';
				font-size: 28px;
			}
			.phone__line {
				position: absolute;
				display: none;
				width: 100%;
				top: 28px;
				&.active {
					display: flex;
				}
				.line-1 {
					background: black;
					height: 2px;
					width: 16px;
					margin-right: 9px;
				}
				.line-2 {
					background: black;
					height: 2px;
					width: 46px;
					margin-right: 9px;
				}
				.line-3 {
					background: black;
					height: 2px;
					width: 127px;
				}
			}
			p {
				font-size: 12px;
				letter-spacing: normal;
			}
		}
	}
	.footer__menu-list {
		display: flex;
		justify-content: space-between;
		font-family: 'Gilroy-Regular';
		font-size: 14px;
		letter-spacing: normal;
		text-transform: uppercase;
		ul {
			margin-left: 140px;
			li {
				cursor: pointer;
				margin-bottom: 20px;
				a {
					transition: .3s all;
					&:hover {
						color: #4CC7E9;
					}
				}
			}
		}
		.footer__menu-list__three {
			.footer__list-item {
				position: relative;
				&::after {
					content: '\2197';
					position: absolute;
					top: -3px;
					margin-left: 3px;
				}
			}
		}
	}
}

.copyright {
	font-family: 'Gilroy-Regular';
	font-size: 14px;
	padding: 38px 0;
}